/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-top: 70px;

    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #384E77;

}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}



.menu {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Mobile Menu Toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.button-div {
    display: flex;
    flex-direction: column;
    padding: 7vw 3vw;
    width: 50vw;
    height: 65vw;
    background-color: #8BBEB2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    justify-content: center;
    align-content: center;
}
button{

    background-color: #1a4386; /* Green */
    border: none;
    color: white;
    height: 100px;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5% 4%;
}
button:hover {
    background-color: #6b8cc2; /* Darker green on hover */
}

/* Responsive Menu */
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    nav.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

section:nth-of-type(odd) {
    background-color: #f9f9f9;
}
